
@{
    ViewBag.Title = "Risky Unsettled Bets";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnsettledBets</title>
</head>
<body>
    <div id="unsettledcontent"></div>
    <script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Risk/RiskyUnsettledBets.jsx")"></script>
</body>
</html>
